on boot-pause
    exec system/bin/battery_charging

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    mkdir /data/radio 0770 radio radio

on fs
    # Mount essential partitions
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mount ext4 /dev/block/mmcblk0p14 /system wait ro barrier=1
    mount ext4 /dev/block/mmcblk0p16 /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p17 /cache wait noatime nosuid nodev barrier=1

    # Misc and WiFi
    mkdir /data/misc 1771 system misc
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

 # HDMI
    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown media system /sys/devices/virtual/graphics/fb1/format_3d

 # USB
    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    chown system system /sys/devices/platform/usb_mass_storage/lun0/file
    chown system system /sys/devices/platform/usb_mass_storage/lun1/file
    chown root root /sys/class/usb_composite/usb_mass_storage/enable
    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    #For netmgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/usb_composite/rmnet_smd_sdio/transport

    # SysFS bluetooth interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    # CPU frequency scaling
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    chmod 0660 /dev/smd7
    chown system system /dev/smd7

    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

    chmod 0660 /dev/ttyGS2
    chown system system /dev/ttyGS2

    #added by ping.wang for diag access
    chmod 0664 /sys/module/diagchar/parameters/enable
    chown root sdcard_rw /sys/module/diagchar/parameters/enable
    chmod 0664 /sys/devices/platform/SGM3140_torch_flash.0/leds/SGM3140_torch_flash/mode
    chown system system /sys/devices/platform/SGM3140_torch_flash.0/leds/SGM3140_torch_flash/mode

    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    chmod 0664 /sys/devices/platform/msm_sdcc.1/debug
    chmod 0664 /sys/devices/platform/msm_sdcc.2/debug
    chmod 0664 /sys/devices/platform/msm_sdcc.3/debug
    chmod 0664 /sys/devices/platform/msm_sdcc.4/debug

    #LED
    chown system system /sys/devices/platform/led_notification.0/leds/led_notification/mode
    chown system system /sys/devices/platform/led_notification.0/leds/led_notification/duty
    chown system system /sys/devices/platform/led_notification.0/leds/led_notification/period

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

on property:ro.product.device=msm7x30
    start usbhub_init

service hdmid /system/bin/hdmid
    socket hdmid stream 0660 root system graphics
    disabled

on property:ro.hdmi.enable=true    
    start hdmid

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p11 /dev/block/mmcblk0p12 /dev/block/mmcblk0p19
    user root

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -puse_p2p_group_interface=1
    user root
    group system wifi inet
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/p2p_supplicant.conf -puse_p2p_group_interface=1
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKLG wlan0
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    disabled
    oneshot

# IP Renew
service iprenew_wlan0 /system/bin/iprenew -n
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    disabled
    oneshot

service wifi_mac_nv /system/bin/mac-nv-read
    user root
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --no2bytes --enable_lpm \
    --tosleep 50000 --baudrate 3000000 --use_baudrate_for_download --i2s=1,1,0,1 \
    --patchram /system/etc/firmware/bcm4330.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# Compass and accelerometer
service akmd8975 /system/bin/akmd8975 -m 3
    user system
    group system
    oneshot

service cnd /system/bin/cnd
    socket cnd stream 660 root radio

service bridgemgrd /system/bin/bridgemgrd
    user radio
    group radio
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    user system
    group system inet
    disabled

on property:ro.baseband="msm"
    start port-bridge
    # Enable BT-DUN only for all msms
    setprop ro.qualcomm.bluetooth.dun true

on property:ro.baseband="unknown"
    start port-bridge

service qmiproxy /system/bin/qmiproxy
    user radio
    group radio
    disabled

service qmuxd /system/bin/qmuxd
    user radio
    group radio
#    disabled

service netmgrd /system/bin/netmgrd
    disabled

service ckpd /system/bin/CKPD-daemon
    user system
    group system radio
    disabled
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

on property:ro.service.ckpd.enable=1
    start ckpd

service atfwd /system/bin/ATFWD-daemon
    user system
    group system radio
    onrestart /system/bin/log -t RIL-ATFWD -p w "ATFWD daemon restarted"

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service thermald /system/bin/thermald
    user root
    group root
    disabled

on property:persist.thermal.monitor=true
    start thermald

service ril-daemon /system/bin/rild
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag
 #   disabled

service ril-daemon1 /system/bin/rild -c 1
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

# QXDM log without connecting to USB
service diag_mdlog /system/bin/diag_mdlog
    disabled
    oneshot

